@inherits LayoutComponentBase

<Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(2)">
    <NavMenu />
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>

</Animate>